arabic-reshaper==3.0.0
dj-database-url==2.3.0
Django==5.0.7
django-appconf==1.1.0
django-select2==8.3.0
django-tables2==2.7.5
openpyxl==3.1.5
pillow==11.1.0
psycopg2==2.9.10
python-bidi==0.6.6
reportlab==4.3.1
