{% extends 'base.html' %}

{% block extra_css %}
<style>
#id_description {
    height: 140px;
    width: 80%;
    resize: none;
}
.scroll-box {
    width: 100%;
    max-height: 150px; /* Adjust height for scrolling */
    overflow-y: auto;
    background: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #b1b3b4;
}
.scroll-box input {
  min-width: 20px;
}
.scroll-box label {
  min-width: 100%;
}
#id_users {
    display: flex;
    flex-wrap: wrap;
}
.scroll-box div {
    min-width: 200px;
}
</style>
{% endblock %}

{% block content %}
<div class="container mt-3">
    <!-- <h1 class="text-center mb-4">إدارة الموازنات</h1> -->
    <!-- Form Section -->
    {% if 'core.change_budget' in request.user.get_all_permissions %}
    <div class="card shadow-sm mb-3">
        <div class="card-header bg-secondary text-white">
            <h4 class="mb-0">{% if budget %}تعديل موازنة{% else %}إضافة موازنة{% endif %}</h4>
        </div>
        <div class="card-body">
            <form method="post" class="row g-3">
                {% csrf_token %}
                
                <!-- Right Column: Three Fields (Name, Status, Date) -->
                <div class="col-md-6">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="name" class="form-label">اسم الموازنة</label>
                            {{ form.name }}
                        </div>
            
                        <div class="col-12">
                            <label for="status" class="form-label">حالة الموازنة</label>
                            {{ form.status }}
                        </div>
            
                        <div class="col-12">
                            <label for="date" class="form-label">تاريخ الموازنة</label>
                            {{ form.date }}
                        </div>
                    </div>
                </div>
            
                <!-- Left Column: Description (Three Rows) -->
                <div class="col-md-6 d-flex flex-column">
                    <label for="description" class="form-label">وصف الموازنة</label>
                    <div class="flex-grow-1">
                        {{ form.description }}
                    </div>
                </div>
                {% if request.user.is_superuser %}
                  <div class="mt-2">
                      <label for="{{ form.users.id_for_label }}" class="form-label">{{ form.users.label_tag }}</label>
                      <div class="scroll-box p-2">
                          {{ form.users }}
                      </div>
                 </div>
                {% endif %}                                    
                <!-- Submit Button (Spanning Full Width) -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success px-5 mx-2">
                        {% if budget %}تحديث{% else %}إضافة{% endif %}
                    </button>
                    <a href="{% url 'budget_list' %}" class="btn btn-secondary">إلغاء</a>
                </div>
            </form>
            
        </div>
    </div>
    {% endif %}

    <!-- Table Section -->

    <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-3">
        <h1 class="text-right">قائمة الموازنات</h1>
        <div class="d-flex">
          <a href="?export=1&format=pdf{% for key, value in request.GET.items %}{% if key != 'export' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="btn btn-danger">
              تصدير إلى PDF</a>
          <a href="?export=1{% for key, value in request.GET.items %}{% if key != 'export' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" class="btn btn-success mx-2">
            تصدير إلى Excel</a>
        </div>
    </div>
  
    {% if messages %}
        <div class="alert-container">
          {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
              {{ message }}
            </div>
          {% endfor %}
        </div>
    {% endif %}
    
    <!-- Filter Row -->
    <form method="get">
      <div class="row align-items-center">
        <div class="col-12 col-md-3 my-2">
          {{ filter_form.name }}
        </div>
        <div class="col-12 col-md-3 my-2">
          {{ filter_form.status }}
        </div>
        <div class="col-12 col-md-3 my-2">
          {{ filter_form.date }}
        </div>
        <div class="col-12 col-md-3 my-2 d-flex justify-content-end">
          <a href="{% url 'budget_list' %}" class="btn btn-secondary mx-2">إلغاء التصفية</a>
          <button type="submit" class="btn btn-primary">تصفية</button>
        </div>
      </div>
    </form>

    <div style="overflow-x: auto; max-width: 100%;">
        <table id="budgetsTable" class="table table-bordered  table-hover table-striped align-middle">
        <thead>
          <tr>
            <th>الاسم</th>
            <!-- <th>الوصف</th> -->
            <th>الحالة</th>
            <th>التاريخ</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for budget in budgets %}
            <tr>
                <td>{{ budget.name }}</td>
                <!-- <td>{{ budget.description|truncatechars:50 }}</td> -->
                <td>{{ budget.status }}</td>
                <td>{{ budget.date|date:"M Y" }}</td>

                <td style="width: 140px;">
                <a href="{% url 'budget_detail' budget.pk %}" class="btn btn-info btn-sm text-white">
                  <i class="fas fa-eye"></i>
                </a>
                <a href="{% url 'budget_update' budget.pk %}" class="btn btn-warning btn-sm text-white">
                  <i class="fas fa-edit"></i>
                </a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>

{% endblock %}
  
  
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('select').select2();
    });
</script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#budgetsTable').DataTable({
          "paging": true,
          "searching": true, // البحث
          "ordering": true, // الترتيب التصاعدي والتنازلي
          "info": true,
          "lengthMenu": [25, 50, 100],
          "language": {
            "search": "",
            "lengthMenu": "عرض _MENU_ سجل لكل صفحة",
            "info": "عرض من _START_ إلى _END_ من أصل _TOTAL_ ",
            "paginate": {
              "next": "التالي",
              "previous": "السابق"
            },
            "emptyTable": "لا توجد بيانات لعرضها", // Custom message for empty table
            "zeroRecords": "لم يتم العثور على سجلات تطابق معايير البحث", // Message for no matching records found
            "infoEmpty": "",  //لا توجد سجلات لعرضها", // Custom message for info when table is empty
            "infoFiltered": "(مصفاة من _MAX_ إجمالي السجلات)" // Custom message for filtered count
          },
        });
      });
</script>
{% endblock scripts %}
  
