{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-3">
      <h1 class="text-right">قائمة العهود</h1>
      <div class="d-flex">
        <!-- <a href="{% url 'loan_export_excel' %}" class="btn btn-success">تصدير إلى Excel</a>
        <a href="{% url 'loan_export_pdf' %}" class="btn btn-danger">تصدير إلى PDF</a> -->
        <a href="{% url 'covenant_create' %}" class="btn btn-primary mr-2">إنشاء عهد جديد</a>
      </div>
    </div>

    {% if messages %}
      <div class="alert-container">
        {% for message in messages %}
          <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    <div style="overflow-x: auto; max-width: 100%;"><table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>صاحب العهد</th>
          <th>شكل العهد</th>
          <th>قيمة العهد</th>
          <th>المبلغ المدفوع</th>
          <th>المتبقي</th>
          <th>التاريخ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for covenant in object_list %}
          <tr>
            <td>{{ covenant.user }}</td>
            <td>{{ covenant.covenant_type }}</td>
            <td>{{ covenant.amount }}</td>
            <td>{{ covenant.paid_amount }}</td>
            <td>{{ covenant.remaining_amount }}</td>
            <td>{{ covenant.date }}</td>
            <td>
              <a href="{% url 'covenant_detail' covenant.pk %}" class="btn btn-info btn-sm text-white">
                <i class="fas fa-eye"></i>
              </a>
              <a href="{% url 'covenant_update' covenant.pk %}" class="btn btn-warning btn-sm text-white">
                <i class="fas fa-edit"></i>
              </a>
              <a href="{% url 'covenant_delete' covenant.pk %}" class="btn btn-danger btn-sm text-white">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
          {% empty %}
          <tr>
              <td colspan="7" class="text-center py-4">
                  <em>لا توجد عهد حتى الآن</em>
              </td>
          </tr>
          {% endfor %}
        </tbody>
    </table></div>
  </div>
{% endblock %}

